html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  background: #09f;
  border: 0;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

button:nth-last-child(1) {
  background: #7b4f8e;
  border: 0;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

a {
  color: #09f;
  font-size: 32px;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  margin: 0 auto 30px;
  justify-content: center;
}

input[type='text'] {
  font-size: 16px;
  border: none;
  padding: 8px 10px;
}

select {
  font-size: 16px;
  border: none;
  padding: 7.5px 0;
}

@media screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }

  button:nth-last-child(1) {
    width: 100px;
  }

  form > div:nth-last-child(1) {
    padding-top: 5px;
  }

  input[type='text'] {
    font-size: 16px;
    border: none;
    padding: 8px 10px;
    border-radius: 0 10px 10px 0;
  }

  select {
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    border: none;
    padding: 7px 0;
  }

  select:nth-last-child(2) {
    font-size: 16px;
    padding: 7px 0;
    border-radius: 0 0 0 0;
  }
}
